@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Montserrat:wght@400;500;700&display=swap');
@import "tailwindcss";

/* index.css */

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif; /* headings */
}

